@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.padre {
  height: 100vh;
background-color: rgb(151, 7, 31);
position: relative;

}
.img1 {
  max-width: 500px;
  height: 300px;
  margin: 0 auto;
  
}
.img1 img {
  width: 100%;
  height: 100%;
}
img2 {
  padding: 10px 30px;
}
.img2 img {
  width: auto;
}
.form {
  margin-bottom: 40px;
}
.input1 {
  height: 35px;
}
.bright {
  font-size: 2.9rem;
  transition: 1s;
  animation-name: bright;
  animation-duration: 3s;
  color:brown;
  animation-iteration-count: infinite;
}

.poke img{
padding: 0 30px;
}


@keyframes bright {
  0% {
    color: rgb(254, 14, 14);
  }
  
  10% {
    color:rgb(37, 177, 177)
  }
  30%{
    color:rgb(20, 81, 203)
  }
  50% {
    color: rgb(93, 24, 176);
  }
  70% {
    color:rgb(154, 20, 203)
  }
  90% {
    color: rgb(189, 28, 92);
  }
  100% {
    color:rgb(203, 20, 20)
  }
}

.mages {
  position: relative;
  display: flex;

}
.abs {
  transition: 0.5;
  position: absolute;
  animation-name: turn;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
 
}
.abs2 {
  z-index: 10;

}
.text {
  background-color: #d5d3d34d;
  border-radius: 40px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 12px;
  margin: 5px;
  max-width: fit-content;
  text-shadow: 0 0 12px black;
  border-radius: 13px/50%;
 font-weight: 600;
}
.allcard {
  display: grid;
  

}
.straight {
  max-width: 550px;
  max-height: 380px;
}

@keyframes turn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
  
}

@media (min-width: 600px) {
  .allcard {
    
    grid-template-columns: repeat(1, 1fr);
  
  }
}
@media (min-width: 628px) {
  .allcard {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  
  }
  .straight{
    height: 330px;
  }
  
}
@media (min-width: 908px) {
  .allcard {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  
  }
  
}